<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gentgamestore.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gentgamestore.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GentGameStore</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GentGameStore</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EFDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:a24zb8sawc.database.windows.net,1433;Initial Catalog=GentGameStoreDB;User ID=gamestore@a24zb8sawc;Password=OriginalPassword123" Name="Data Source=tcp:a24zb8sawc.database.windows.net,1433;Initial Catalog=GentGameStoreDB;User Id=gamestore@a24zb8sawc;Password=OriginalPassword123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GameStore.Domain.Concrete.EFDbContext, GameStore.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EFDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:a24zb8sawc.database.windows.net,1433;Initial Catalog=GentGameStoreDB;User Id=gamestore@a24zb8sawc;Password=OriginalPassword123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>