@model IEnumerable<string>

    <div class="panel panel-default sidebar-menu">
        <div class="panel-heading">
            <h3 class="panel-title">Categories</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked category-menu">
                <li>@Html.ActionLink("All Products", "List", "Product")</li>
                        
                @foreach (var link in Model)
                {
                    <li class =@(link ==ViewBag.SelectedCategory ? "active" : "" )>
                        @Html.RouteLink(link, new
    {
        controller = "Product",
        action = "List",
        category = link,
        page = 1
    }, new
    {
        @class = (link == ViewBag.SelectedCategory ? "active" : "")
    })
                    </li>
                }
            </ul>
        </div>
    </div>